@media screen and (max-width:1000px)
{
    nav{
        flex-direction: column;
    }
    body{
        background-color: aqua;
    }
    .search input{
        margin: auto;
        width: 150px;
    }
    .insidecard{
        flex-wrap: wrap;
    }
    .end{
        flex-direction: column;
    }
    .slider img{
        width:350px ;
        height: 300px;
    }
    
}
